# TeamsFx files
node_modules
TodoList/.fx/configs/localSettings.json
TodoList/.fx/states/*.userdata
.DS_Store
.env.teamsfx.local
TodoList/subscriptionInfo.json
TodoList/build/
TodoList/.fx/configs/config.local.json
TodoList/.fx/states/state.local.json
# local debug
.env.local
TodoList/logs
TodoList/local_debug